{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CrazyPi</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

  </head>
  <body>
    <div class="slide story" id="slide-1" data-slide="1">
        <nav class="navbar" id="nav1">
            <div class="m-auto" style="font-size: 4vh;color: #3a3f45;">CrazyPi 即時觀測站</div>
          </nav>
    <div class="container-fluid">
        <!-- <div class="row" style="font-size: 4vh;margin: 0 auto;"></div> -->
        <form>
          <div class="form-group" style="padding-top:20vh ;">
            <div class="row">
              <div class="col-8 offset-2">
                <div class="input-group mb-3 ">
                  <input type="text" class="form-control" placeholder="English only" aria-label="Input" aria-describedby="button">
                  <div class="input-group-append">
                    <button type="button" class="btn btn btn-info"  id="button">搜尋</button>
                  </div>
                </div>
            </div>
          </div>
          </div>
        </form>

        <div id="home-row-1 " class="row clearfix" style="padding-bottom: 10%;">
            <div class="col-6" >
                <div class="home-hover navigation-slide" data-slide="4">
                <h1 class="font-semibold"> <i class="bi bi-thermometer-high" id="temperature"></i></h1>
                </div>
                <h2 class="font-semibold">現在溫度</h2>
            </div>
            
            <div class="col-6" >
                <div class="home-hover navigation-slide" data-slide="4">
                <h1 class="font-semibold"><i class="bi-droplet-half" id="humidity"></i>&nbsp;</h1>
                </div>
                <h2 class="font-semibold">現在濕度</h2>
            </div>
                
            </div>
          </div>
        </div>
        <div class="container-fluid bg-dark" style="padding: 1% 2%; height:70vh;">
          <div class="row">
            <div class="col-6"><canvas id="teChart" style="height:50vh;"></canvas></div>
            <div class="col-6"><canvas id="huChart" style="height:50vh;"></canvas></div>
          </div>
        </div>
            </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
    <script>
      var loop = setInterval(ref,1000)

      var te_live = document.getElementById("teChart")

      var temperatureChart = new Chart(te_live,{
        type: "line",
        data: {
          labels: ['','','','',''],
          datasets: [{
              label: "溫度",
              borderColor: 'rgb(75, 192, 192)',
              color: "white",
              data: [0,5,10,15,20,25,30,35,40],
              tension: 0.1
          }]
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: "top",
              color: "white",
            },
            title: {
              display: true,
              text: "溫度表",
              color: "white",
            },
          },
        },
      })

      var hu_live = document.getElementById("huChart")

      var humidityChart = new Chart(hu_live,{
        type: "bar",
        data: {
          labels: ['','','','',''],
          datasets: [{
              label: "濕度",
              color: "white",
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(201, 203, 207, 0.2)'
    ],
                borderColor: [
                'rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)',
                'rgb(153, 102, 255)',
                'rgb(201, 203, 207)'
              ],
              data: [0,10,20,30,40,50,60,70,80,90],
              borderWidth: 1
          }]
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: "top",
              color: "white",
            },
            title: {
              display: true,
              text: "濕度表",
              color: "white",
            },
          },
        },
      })

      function ref(){
        $.ajax({
          url: "/api/ht",
          type: 'GET',
          crossDomain: true,
          dataType: 'json',
          success: function(data) { 
            $("#temperature").html(data.objects[0].temperature+"°C")
            $("#humidity").html(data.objects[0].humidity+"%") 
            
            console.log(data.objects.length)
            for(i=0;i<data.objects.length;i++){
              temperatureChart.data.datasets[0].data[data.objects.length-(i+1)] = data.objects[i].temperature
              temperatureChart.data.labels[data.objects.length-(i+1)] = data.objects[i].create_date
              humidityChart.data.datasets[0].data[data.objects.length-(i+1)] = data.objects[i].humidity
              humidityChart.data.labels[data.objects.length-(i+1)] = data.objects[i].create_date
            }
            temperatureChart.update()
            humidityChart.update()
          },      
        });
      }
    </script>
  </body>
</html>
