<tr>
  <td>{{ a.temperature }}</a></td>
  <td>{{ a.humidity }}</a></td>
</tr>
<script src="https://code.jquery.com/jquery-3.4.1.js"
integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
<script>
  var a = setInterval(ref,1000)
  function ref(){
    $.ajax({
      url: "http://localhost:8000/api/ht",
      type: 'GET',
      crossDomain: true,
      dataType: 'json',
      success: function() { console.log(data); },
      headers: {
                'Access-Control-Allow-Origin': '*'
      },
    });
  }
</script>
