<div class="box">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="col-12">
            <h4>請輸入英文</h4>
        </div>
        <div class="row gtr-50 gtr-uniform">
            <div class="col-12">
                <input type="text" name="tt" id="tt" value="" placeholder=""/>
            </div>
              <div class="col-12">
                <ul class="actions special">
                    <li><input type="submit" value="送出" /></li>
                </ul>
            </div>
        </div>
    </form>
</div>