#nav1
{  
    background-color:rgba(253, 253, 253, 0.109); /*whichever you want*/
	font-family: "Titillium Web", sans-serif;
}


.font-thin {
	font-family: "Titillium Web", sans-serif;
	font-weight: 200;
}

.font-semibold {
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
}

.font-light {
	font-family: "Titillium Web", sans-serif;
	font-weight: 300;
}

* {
	position: relative;
}

.breaker {
	clear: both;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
}

html, body {
	height: 100vh;
	width: 100vw;
}

body {
	background-color: #565f6a;
	font-family: "Titillium Web", sans-serif;
	font-weight: normal;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased !important;
}

.justify-text {
	text-align: justify;
}



:focus {outline:none;}
::-moz-focus-inner {border:0;}

.slide {
	background-position: center center;
	background-repeat: no-repeat;
	/* padding-bottom: 65px;
	padding-top: 50px; */
	text-align: center;
}

#slide-1 {
	background-image: url('../images/bg1.jpg');
	color: #ffffff;
    -webkit-background-size: 100vh;
    -moz-background-size: 100vh;
    -o-background-size: 100vh;
    background-size: 100vh;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
	background-attachment: relative;
	background-position: center center;
	
}

#slide-1 h1 {
	padding-top: 15vh;
	font-size: 9vh;
}
#slide-1 h2 {
	font-size: 7vh;
}


#home-row-1{
	padding-top: 1vh;
}
#home-row-1 h1 {
	font-size: 15vh;
}
	
#home-row-1 h4 {
	font-size: 32px;
}
	
	


